<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Office -->
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.170.172:5432/postgres?currentSchema=recruits</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">P@ssw0rdsit</property>
        
      
        <!-- SQL dialect -->

 
        <!-- Update database on startup -->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.autocommit">false</property>
        
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <!--<property name="hibernate.hikari.autoCommit">true</property>-->
        <property name="hibernate.hikari.minimumIdle">20</property>
        <property name="hibernate.hikari.maximumPoolSize">40</property>
        <property name="hibernate.hikari.connectionTimeout">60000</property>
        <property name="hibernate.hikari.idleTimeout">600000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>
 
        <!-- Annotated entity classes -->
        <!--        <mapping class="tutorial.hibernate.postgresql.Student"/>-->
      

    </session-factory>
</hibernate-configuration>